---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="tab">
		<button class="tab__btn" type="button" data-tab="1">Tab-1</button>
		<button class="tab__btn" type="button" data-tab="2">Tab-2</button>
		<button class="tab__btn" type="button" data-tab="3">Tab-3</button>
	</div>


	<div class="content">
		<div class="slider" data-slider="1">
			<div class="slider__item">
				<div class="slider__item-image" style="background-image: url(img/image-1.jpg);"></div>
				<div class="slider__item-title">tab-1 title slide-1</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque fugit nobis libero, distinctio a quibusdam, amet repellendus laudantium dolorem exercitationem, harum error veritatis sunt eaque fuga saepe earum porro eveniet.</p>
				<button type="button" class="slider__item-more">More</button>

			</div>
			<div class="slider__item">
				<div class="slider__item-image" style="background-image: url(img/image-2.jpg);"></div>
				<div class="slider__item-title">tab-1 title slide-2</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque fugit nobis libero, distinctio a quibusdam, amet repellendus laudantium dolorem exercitationem, harum error veritatis sunt eaque fuga saepe earum porro eveniet.</p>
				<button type="button" class="slider__item-more">More</button>
				
			</div>
			<div class="slider__item">
				<div class="slider__item-image" style="background-image: url(img/image-3.jpg);"></div>
				<div class="slider__item-title">tab-1 title slide-3</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque fugit nobis libero, distinctio a quibusdam, amet repellendus laudantium dolorem exercitationem, harum error veritatis sunt eaque fuga saepe earum porro eveniet.</p>
				<button type="button" class="slider__item-more">More</button>

			</div>
			<div class="slider__item">
				<div class="slider__item-image" style="background-image: url(img/image-4.jpg);"></div>
				<div class="slider__item-title">tab-1 title slide-4</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque fugit nobis libero, distinctio a quibusdam, amet repellendus laudantium dolorem exercitationem, harum error veritatis sunt eaque fuga saepe earum porro eveniet.</p>
				<button type="button" class="slider__item-more">More</button>

			</div>
		</div>

		<div class="slider" data-slider="2">	
			<div class="slider__item">
				<div class="slider__item-image" style="background-image: url(img/image-1.jpg);"></div>
				<div class="slider__item-title">tab-2 title slide-1</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque fugit nobis libero, distinctio a quibusdam, amet repellendus laudantium dolorem exercitationem, harum error veritatis sunt eaque fuga saepe earum porro eveniet.</p>
				<button type="button" class="slider__item-more">More</button>

			</div>
			<div class="slider__item">
				<div class="slider__item-image" style="background-image: url(img/image-2.jpg);"></div>
				<div class="slider__item-title">tab-2 title slide-2</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque fugit nobis libero, distinctio a quibusdam, amet repellendus laudantium dolorem exercitationem, harum error veritatis sunt eaque fuga saepe earum porro eveniet.</p>
				<button type="button" class="slider__item-more">More</button>
				
			</div>
			<div class="slider__item">
				<div class="slider__item-image" style="background-image: url(img/image-3.jpg);"></div>
				<div class="slider__item-title">tab-2 title slide-3</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque fugit nobis libero, distinctio a quibusdam, amet repellendus laudantium dolorem exercitationem, harum error veritatis sunt eaque fuga saepe earum porro eveniet.</p>
				<button type="button" class="slider__item-more">More</button>

			</div>
			<div class="slider__item">
				<div class="slider__item-image" style="background-image: url(img/image-4.jpg);"></div>
				<div class="slider__item-title">tab-2 title slide-4</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque fugit nobis libero, distinctio a quibusdam, amet repellendus laudantium dolorem exercitationem, harum error veritatis sunt eaque fuga saepe earum porro eveniet.</p>
				<button type="button" class="slider__item-more">More</button>

			</div>
		</div>

		<div class="slider" data-slider="3">	
			<div class="slider__item">
				<div class="slider__item-image" style="background-image: url(img/image-1.jpg);"></div>
				<div class="slider__item-title">tab-3 title slide-1</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque fugit nobis libero, distinctio a quibusdam, amet repellendus laudantium dolorem exercitationem, harum error veritatis sunt eaque fuga saepe earum porro eveniet.</p>
				<button type="button" class="slider__item-more">More</button>

			</div>
			<div class="slider__item">
				<div class="slider__item-image" style="background-image: url(img/image-2.jpg);"></div>
				<div class="slider__item-title">tab-3 title slide-2</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque fugit nobis libero, distinctio a quibusdam, amet repellendus laudantium dolorem exercitationem, harum error veritatis sunt eaque fuga saepe earum porro eveniet.</p>
				<button type="button" class="slider__item-more">More</button>
				
			</div>
			<div class="slider__item">
				<div class="slider__item-image" style="background-image: url(img/image-3.jpg);"></div>
				<div class="slider__item-title">tab-3 title slide-3</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque fugit nobis libero, distinctio a quibusdam, amet repellendus laudantium dolorem exercitationem, harum error veritatis sunt eaque fuga saepe earum porro eveniet.</p>
				<button type="button" class="slider__item-more">More</button>

			</div>
			<div class="slider__item">
				<div class="slider__item-image" style="background-image: url(img/image-4.jpg);"></div>
				<div class="slider__item-title">tab-3 title slide-4</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque fugit nobis libero, distinctio a quibusdam, amet repellendus laudantium dolorem exercitationem, harum error veritatis sunt eaque fuga saepe earum porro eveniet.</p>
				<button type="button" class="slider__item-more">More</button>

			</div>
		</div>
	</div>

{% endblock %}
